<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <%= render 'layouts/navigation_links' %>
  <%= render 'devise/menu/registration_items'  %>
  <%= render 'devise/menu/login_items'  %>
</ul>
